youtubeAgent
{
  "name": "YoutubeAgent",
  "nodes": [
    {
      "parameters": {
        "model": "qwen/qwen-2.5-72b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        -360
      ],
      "id": "fe0eb227-7a7c-4842-b191-2ab2cb250d5a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "lmQsStnMAVBZiYSe",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "videos",
        "options": {
          "destinationFieldName": "videos"
        }
      },
      "id": "c57b9e9a-5992-4f48-a2ab-f068fdeecb33",
      "name": "Split Videos",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        1740,
        -640
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "url": "={{ $json.videos.video_files[0].link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "bc1753e0-3ca4-492f-959b-926322a9b560",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1960,
        -640
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Local Setup for Script, Speech, and Caption\n",
        "height": 760,
        "width": 800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        -360
      ],
      "typeVersion": 1,
      "id": "721617d0-0bd5-4d52-a8a8-f188ee24fe6d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## API setup for AI Images, AI Videos, and Videos",
        "height": 860,
        "width": 1760,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        -1260
      ],
      "typeVersion": 1,
      "id": "ee461724-6a87-465a-bbb4-98b1228f2e1f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "formTitle": "Prompt",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter your prompt here",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -220,
        -580
      ],
      "id": "fa16edbc-d586-4d80-a85e-78e6ceabbd65",
      "name": "Write video idea",
      "webhookId": "0341d4ce-4b42-4389-9401-cf705ca0b0ed"
    },
    {
      "parameters": {
        "command": "=mkdir {{ $execution.id }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        -580
      ],
      "id": "8678003d-f270-4752-96a5-5d2d8aae042d",
      "name": "Create Folder"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short, exciting script (~50-70 words) for a instagram reel. Keep only script no extra words. So that I can directly make audio out of it. Here is the topic: {{ $json['Enter your prompt here'] }}. ",
        "messages": {
          "messageValues": [
            {
              "message": "You are a instagram reel script writer."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        240,
        -580
      ],
      "id": "5a44c441-db30-4a18-957f-d515a3d77670",
      "name": "Write Script"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Understand the below script and give me short prompt for generating image only. Donot use special characters only use space: {{ $json.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1060,
        -1100
      ],
      "id": "95c2dd4d-403a-424c-a2c1-3ebdabcd5847",
      "name": "Write image/video prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp-image-generation:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=AIzaSyCbDNGaAtoE_XZv3rGu-INoCeQvnzuoXBY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"create image from below data: {{ $json.text }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"TEXT\",\n      \"IMAGE\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        -1100
      ],
      "id": "35a72d53-3ac6-4661-8c3f-f7d768a7b9e6",
      "name": "Create AI Image"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1740,
        -1100
      ],
      "id": "b1eb01d7-9706-4d38-86e7-220846123629",
      "name": "Get AI Image"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./{{ $execution.id }}/image{{ $execution.id }}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1960,
        -1100
      ],
      "id": "f6d770d4-8949-4a9c-a60f-aaaff55239d8",
      "name": "Save AI Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hysts-zeroscope-v2.hf.space/gradio_api/call/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    \"{{ $json.text }}\",\n    0,\n    24,\n    10\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        -860
      ],
      "id": "1b0f7ff4-34de-40f0-89b3-c3d456b2c0e4",
      "name": "Creat AI Video"
    },
    {
      "parameters": {
        "url": "=https://hysts-zeroscope-v2.hf.space/gradio_api/call/run/{{ $json.event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        -860
      ],
      "id": "c144efd5-48c8-4395-9932-d066648b9aa0",
      "name": "Get AI Video"
    },
    {
      "parameters": {
        "jsCode": "const inputString = $input.first().json.data\n\n// Step 1: Extract the JSON part after \"data: \"\nconst jsonPart = inputString.split('data: ')[1].trim();\n\n// Step 2: Parse it\nconst parsedData = JSON.parse(jsonPart);\n\n// Step 3: Get the path\nconst path = parsedData[0].video.path;\n\nreturn {path};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        -860
      ],
      "id": "10cd0e5f-dc5d-4bb6-9f14-4fff82649530",
      "name": "Get URL"
    },
    {
      "parameters": {
        "url": "=https://hysts-zeroscope-v2.hf.space/gradio_api/file={{ $json.path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f167c91e-920c-4fc3-93b3-3dee60c4fd4f",
      "name": "Download AI Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2220,
        -860
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./{{ $execution.id }}/aiVideo{{ $execution.id }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2440,
        -860
      ],
      "id": "4830b8bc-6e73-4a3d-b77c-1fcf02d276d2",
      "name": "Save AI Video"
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/videos/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.text }}"
            },
            {
              "name": "per_page",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "DLeEuwTJ2SL2wxRiQY6J8dEKPteO0cvzeq3GfUlcDQTJMqtPikVt8woa"
            }
          ]
        },
        "options": {}
      },
      "id": "3f9691ca-2fab-4178-b1e7-3778518022cd",
      "name": "Search Videos on Pexel",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1480,
        -640
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./{{ $execution.id }}/video{{ $json.videos.id }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2220,
        -640
      ],
      "id": "7b35ec47-06f9-4971-8d10-295cbd64e6ad",
      "name": "Save Video"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        -220
      ],
      "id": "0ffd9721-7b37-4167-b0b5-00e1e3fa10bd",
      "name": "Create Script"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./{{$execution.id}}/script.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1420,
        -220
      ],
      "id": "2ce5b17a-c472-4181-8358-d14b85cbff6b",
      "name": "Save Script"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5001/tts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "filename",
              "value": "=audio{{ $execution.id }}.wav"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        0
      ],
      "id": "0717c2d6-3e56-4f2f-841a-62f7878f4bfd",
      "name": "Create speech"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./{{ $execution.id }}/speech{{ $execution.id }}.wav",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1420,
        0
      ],
      "id": "c7b136fb-7624-4d89-91f6-d2802fe0bc2d",
      "name": "Save speech"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/generate-srt",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "=srt{{ $execution.id }}"
            },
            {
              "name": "script",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        220
      ],
      "id": "61760ff4-f70b-4360-a36b-02e53411b4a2",
      "name": "Create Caption"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./{{ $execution.id }}/script.srt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1420,
        220
      ],
      "id": "00bc8d5b-231e-4f60-b0ee-7cb5492bca7b",
      "name": "Save Caption"
    },
    {
      "parameters": {
        "model": "qwen/qwen2.5-vl-72b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1160,
        -880
      ],
      "id": "508d47c9-6ee8-493a-bd7d-5548730a10cb",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "lmQsStnMAVBZiYSe",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Write Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Videos": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Save Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write video idea": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Write Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Script": {
      "main": [
        [
          {
            "node": "Create Script",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create speech",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Caption",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write image/video prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write image/video prompt": {
      "main": [
        [
          {
            "node": "Create AI Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Creat AI Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Videos on Pexel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create AI Image": {
      "main": [
        [
          {
            "node": "Get AI Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Image": {
      "main": [
        [
          {
            "node": "Save AI Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creat AI Video": {
      "main": [
        [
          {
            "node": "Get AI Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Video": {
      "main": [
        [
          {
            "node": "Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL": {
      "main": [
        [
          {
            "node": "Download AI Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download AI Video": {
      "main": [
        [
          {
            "node": "Save AI Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Videos on Pexel": {
      "main": [
        [
          {
            "node": "Split Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Script": {
      "main": [
        [
          {
            "node": "Save Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Script": {
      "main": [
        []
      ]
    },
    "Create speech": {
      "main": [
        [
          {
            "node": "Save speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Caption": {
      "main": [
        [
          {
            "node": "Save Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Write image/video prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false
  },
  "versionId": "fa2da4c9-12b1-4e5e-bd86-c61f0b2ca108",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dedc19d9bdfc7243f7ee13c48a4edef60ea52cfb037e9ca16e44a41bcd75a2d3"
  },
  "id": "P9uM5z2NtH8aJwIN",
  "tags": []
}
